@font-face {
  font-family: 'Nonito';
  src:         url(../fonts/OpenSans_Condensed-Regular.ttf);
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: 'Nonito';
  src:         url(../fonts/OpenSans-Bold.ttf);
  font-weight: 600;
  font-style:  normal;
}

@font-face {
  font-family: 'Nonito';
  src:         url(../fonts/OpenSans_SemiCondensed-SemiBold.ttf);
  font-weight: 700;
  font-style:  normal;
}