.app {
  .header {
    max-width:  1400px;
    width:      100%;
    padding:    7px 0 3px;
    background: #F3F4F6;
    position:   fixed;
    top:        0;
    left:       0;
    z-index:    1000;
    .content {
      display:         flex;
      justify-content: space-between;
    }
    .left {
      p {
        display: none;
      }
      img {
        width:       55px;
        margin-left: 3px;
      }
    }
    .right {
      a {
        padding:     6px;
        font-weight: 600;
        &:first-child {
          display: none;
        }
        &:last-child {
          font-size: 14px;
          min-width: 154px;
        }
      }
    }
  }
  .banner {
    margin:     65px 0 12px;
    text-align: center;
    .content {
      height:   61vw;
      position: relative;
      top:      0;
      left:     0;
      z-index:  0;
      overflow: hidden;
    }
    img {
      height:        100%;
      position:      absolute;
      top:           0;
      left:          0;
      z-index:       -1;
      border-radius: 10px;
    }
    h1 {
      padding-top: 41px;
      font-weight: 700;
      font-size:   26px;
    }
    .desktop {
      display: none;
    }
  }
  .mobBanner {
    margin:   12px 0 39px;
    position: relative;
    top:      0;
    left:     0;
    z-index:  0;
    .desktop {
      min-height:      473px;
      font-size:       20px;
      font-weight:     600;
      display:         flex;
      flex-direction:  column;
      justify-content: space-around;
      overflow:        hidden;
      position:        relative;
      top:             0;
      left:            0;
      z-index:         0;
      background:      #F3F4F6;
      border-radius:   10px;
      text-align:      center;
      line-height:     1.7;
      padding:         45px 0 48px;
      img {
        transform: rotate(-41deg);
        position:  absolute;
        top:       20px;
        right:     20px;
        z-index:   -1;
        filter:    blur(2px);
        opacity:   .3;
      }
      a {
        width: 100%;
      }
    }
  }
  .description {
    .content {
      background:    #F3F4F6;
      border-radius: 10px;
      padding:       16px 0 0 9px;
    }
    .block {
      display:        flex;
      padding-bottom: 26px;
      .img {
        min-width:       61px;
        min-height:      61px;
        background:      #FFFFFF;
        border:          1px solid #000000;
        border-radius:   50%;
        display:         inline-flex;
        justify-content: center;
        align-items:     center;
        margin-right:    28px;
        overflow:        hidden;
        img {
          width:  40px;
          margin: 2px;
        }
      }
      .text {
        padding-top: 8px;
        h3 {
          font-weight:    700;
          font-size:      20px;
          padding-bottom: 12px;
        }
        p {
          color:       #111827;
          font-size:   14px;
          font-weight: 400;
          font-style:  italic;
          line-height: 1.6;
        }
      }
      &:nth-child(1) {
        h3 {
          color: #24BA96;
        }
      }
      &:nth-child(2) {
        h3 {
          color: #F0A900;
        }
      }
      &:nth-child(3) {
        h3 {
          color: #FF6577;
        }
      }
    }
  }
  .reviews {
    padding: 28px 0 0;
    .title {
      margin-bottom: 27px;
    }
    .right {
      height:        55vw;
      border-radius: 20px;
      margin-bottom: 41px;
    }
    .left {
      .back {
        display: none;
      }
      h2 {
        display: none;
      }
      .slide {
        font-weight: 400;
        font-size:   16px;
        font-style:  italic;
        line-height: 1.6;
        h3 {
          padding: 31px 0 56px;
        }
      }
    }
  }
  .features {
    padding: 53px 0 32px;
    h2 {
      padding-bottom: 32px;
    }
    .left {
      height:        61vw;
      border-radius: 20px;
      margin-bottom: 24px;
    }
    ul {
      background:    #F3F4F6;
      border-radius: 10px;
      padding-left:  28px;
    }
    li {
      font-weight: 600;
      font-size:   16px;
      line-height: 1.7;
    }
  }
  .dates {
    padding:    26px 0 45px;
    background: linear-gradient(155.08deg, #9CA3AF 0%, rgba(156, 163, 175, 0) 107.3%);
    h2 {
      padding-bottom: 21px;
      line-height:    1.5;
    }
    .content {
      display:        flex;
      flex-direction: column;
      align-items:    center;
    }
    .block {
      margin:   0 0 23px;
      display:  flex;
      position: relative;
      top:      0;
      left:     0;
      z-index:  0;
      &:last-child {
        margin-bottom: 49px;
      }
      div {
        padding:       4px 0;
        text-align:    center;
        background:    #D1D5DB;
        opacity:       0.8;
        box-shadow:    0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-weight:   600;
        font-size:     16px;
        &:nth-child(1) {
          min-width: 130px;
        }
        &:nth-child(2) {
          display: none;
          &.seats {
            display:          block;
            position:         absolute;
            top:              calc(100% + 2px);
            left:             50%;
            z-index:          0;
            transform:        translateX(-50%);
            background-color: #F0A900;
            white-space:      nowrap;
            font-size:        10px;
            padding:          4px 3px;
          }
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
    a {
      width:   100%;
      padding: 22px;
    }
  }
  .faq {
    padding: 48px 0 27px;
    h2 {
      padding-bottom: 34px;
      border-bottom:  1px solid #9CA3AF;
      text-align:     start;
    }
    li {
      min-height:    140px;
      border-bottom: 1px solid #6B7280;
      padding:       11px 0 0;
      list-style:    none;
    }
    .question {
      display:         flex;
      justify-content: space-between;
      align-items:     start;
      font-weight:     700;
      font-size:       18px;
      padding:         0 0 14px 0;
      line-height:     1.8;
      img {
        width:  16px;
        margin: 7px 0 0 5px;
      }
    }
    .answer {
      display:        none;
      font-weight:    400;
      font-size:      16px;
      font-style:     italic;
      padding-bottom: 19px;
      line-height:    1.7;
    }
  }
  .communication {
    padding: 35px 0 0;
    h2 {
      padding-bottom: 24px;
      text-align:     center;
    }
    .form {
      background: #E5E7EB;
      padding:    29px 0 17px;
    }
    label {
      padding-bottom: 16px;
    }
    h3 {
      padding-bottom: 12px;
      font-size:      16px;
      font-weight:    600;
    }
    input {
      width:         100%;
      border:        1px solid #D1D5DB;
      border-radius: 20px;
      padding:       11px 15px;
      margin-bottom: 21px;
      font-size:     16px;
      background:    #F3F4F6;
    }
    .addMessage {
      padding: 36px 0 58px;
      cursor:  pointer;
      &:hover {
        color: #278EED;
      }
    }
    button {
      margin-bottom: 28px;
      padding:       21px;
      border:        0;
    }
    p {
      font-size:   14px;
      font-weight: 400;
      color:       #6B7280;
      line-height: 1.6;
      a {
        color:           #6B7280;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
          color:           #278EED;
        }
      }
    }
  }
  .contacts {
    padding:  49px 0 82px;
    position: relative;
    top:      0;
    left:     0;
    z-index:  0;
    .back {
      height:   100%;
      position: absolute;
      bottom:   0;
      left:     0;
      z-index:  -1;
      opacity:  .3;
    }
    ul {
      padding-left: 6px;
    }
    li {
      padding-bottom: 27px;
      list-style:     none;
      &:nth-child(1) h3 {
        font-weight:    700;
        font-size:      20px;
        padding-bottom: 0;
      }
      &:nth-child(2) a {
        font-size:   18px;
        font-weight: 600;
      }
      &:not(&:nth-child(2) a) {
        font-size:   16px;
        font-weight: 400;
      }
      a:hover {
        color: #278EED;
      }
    }
  }
  .footer {
    color:          #6B7280;
    font-size:      16px;
    font-weight:    400;
    text-align:     center;
    padding-bottom: 30px;
  }
}

@media(min-width: 359px) {
  .app {
    .dates {
      .block {
        div {
          &:nth-child(2).seats {
            top:              50%;
            left:             calc(100% + 4px);
            z-index:          0;
            transform:        translateY(-50%);
            background-color: #F0A900;
            white-space:      nowrap;
            font-size:        10px;
            padding:          7px 3px;
          }
        }
      }
    }
  }
}

@media(min-width: 1024px) {
  .app {
    .header {
      padding: 0;
      .container {
        max-width: 1200px;
      }
      .content {
        min-height:  64px;
        align-items: center;
      }
      .left {
        display: flex;
        p {
          display:     block;
          font-weight: 600;
          font-size:   18px;
          line-height: 1.9;
        }
        img {
          width:       59px;
          margin-left: 0;
        }
      }
      .right {
        a {
          &:first-child {
            display:       inline-block;
            padding-right: 49px;
          }
          &:last-child {
            min-width: 169px;
          }
        }
      }
    }
    .banner {
      margin: 0 0 85px;
      .container {
        max-width: 1400px;
        padding:   0;
      }
      .content {
        height: 100vh;
      }
      img {
        border-radius: 0;
      }
      h1 {
        font-size: 44px;
        padding:   203px 0 24px;
      }
      .desktop {
        max-width:      600px;
        text-align:     center;
        margin:         0 auto;
        font-size:      18px;
        font-weight:    600;
        line-height:    1.6;
        display:        inline-flex;
        flex-direction: column;
      }
      a {
        min-width:  372px;
        margin-top: 46px;
        padding:    21px;
        display:    flex;
      }
    }
    .mobBanner {
      display: none;
    }
    .description {
      .container {
        padding: 0;
      }
      .content {
        border-radius:   20px;
        display:         flex;
        justify-content: space-around;
        padding:         123px 90px 61px;
      }
      .block {
        max-width:  240px;
        display:    block;
        text-align: center;
        .img {
          width:  173px;
          height: 165px;
          margin: 0 auto 22px;
          border: 2px solid #111827;
          img {
            width: 101px;
          }
        }
        .text {
          padding: 0;
          h3 {
            font-size:      18px;
            padding-bottom: 17px;
          }
          p {
            font-size:   16px;
            line-height: 1.7;
          }
        }
      }
    }
    .reviews {
      padding: 94px 0 35px;
      .container {
        max-width: 1200px;
      }
      .content {
        display:        flex;
        flex-direction: row-reverse;
      }
      .title {
        display: none;
      }
      .left {
        width:        50%;
        position:     relative;
        top:          0;
        left:         0;
        z-index:      0;
        padding:      20px 0 0;
        margin-right: 19px;
        overflow:     hidden;
        .back {
          display:  block;
          position: absolute;
          top:      15px;
          left:     0;
          z-index:  -1;
        }
        h2 {
          display:        inline-block;
          padding-bottom: 45px;
        }
        .slide {
          h3 {
            padding: 40px 0 110px;
          }
        }
      }
      .right {
        height:     100%;
        max-height: 358px;
        width:      49%;
      }
    }
    .features {
      padding: 35px 0 74px;
      .container {
        max-width: 1200px;
      }
      .content {
        display: flex;
      }
      h2 {
        padding-bottom: 51px;
      }
      .left {
        width:      49%;
        max-height: 379px;
      }
      ul {
        width:      50%;
        padding:    19px 0 0 53px;
        background: #F9FAFB;
      }
      li {
        line-height: 1.8;
      }
    }
    .dates {
      padding: 43px 0 45px;
      .container {
        max-width: 1200px;
      }
      h2 {
        font-size:      20px;
        text-align:     start;
        padding-bottom: 70px;
      }
      .content {
        flex-direction:  row;
        justify-content: space-between;
        padding:         0 96px 77px 0;
      }
      .block {
        flex-direction: column;
        margin-bottom:  0;
        &:last-child {
          margin-bottom: 0;
        }
        div {
          padding: 10px;
          &:nth-child(1) {
            min-width:     172px;
            margin-bottom: 68px;
          }
          &:nth-child(2) {
            &.seats {
              top:       39%;
              left:      50%;
              transform: translateX(-50%);
              font-size: 14px;
              padding:   4px;
            }
          }
          &:nth-child(3) {
            display:   block;
            min-width: 172px;
          }
        }
      }
    }
    .faq {
      padding: 72px 0 27px;
      .container {
        max-width: 863px;
      }
      h2 {
        max-width:      800px;
        text-align:     center;
        padding-bottom: 66px;
        margin:         0 auto;
      }
      li {
        min-height:    0;
        padding:       0;
        border:        0;
        margin-bottom: 8px;
      }
      .question {
        min-height:    98px;
        padding:       0 31px 0;
        background:    #F3F4F6;
        border-radius: 20px;
        align-items:   center;
        img {
          margin: 12px 25px 0 5px;
        }
      }
      .answer {
        font-style: normal;
        padding:    0 0 63px 31px;
      }
    }
    .communication {
      padding: 64px 0 0;
      .container {
        max-width: 1200px;
      }
      h2 {
        padding-bottom: 97px;
      }
      .content {
        display: flex;
      }
      .form {
        width:         57%;
        border-radius: 20px;
        padding:       112px 0 78px;
        margin-right:  10px;
        .container {
          max-width: 500px;
        }
      }
      input {
        padding:       17px 15px;
        margin-bottom: 51px;
        border:        1px solid #9CA3AF;
        border-radius: 10px;
      }
      .addMessage {
        padding: 0 0 52px;
      }
      button {
        padding:       15px;
        margin-bottom: 49px;
      }
      .contacts {
        width: 42%;
        .back {
          max-height: 512px;
          bottom:     -79px;
          left:       11px;
        }
        ul {
          padding: 108px 0 0 108px;
        }
        li {
          padding-bottom: 30px;
          &:nth-child(1) {
            display: none;
          }
        }
      }
    }
    .footer {
      padding-top: 120px;
    }
  }
}